<div style="text-align:center">

  <div *ngIf="!name; else forminfo"> 

    <form [formGroup]="rForm" (ngSubmit)=addPost(rForm.value)>

      First name:
      <br>
      <input
        type="text" 
        formControlName="name" 
        >
        <div *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
          {{ titleAlert }}
        </div>
      <br>
      Description:<br>
      <input 
        type="text" 
        formControlName="description"
        >
        <div *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">
            Length must be between 30 - 500
           
          </div>
      <br>
      On
      <input 
        type="checkbox"
        name="validate"
        formControlName="validate"
        value="1" 
        />
      <br>
      <br>
      
      <input type="submit" value="Submit form" [disabled]="!rForm.valid">
    </form> 


  </div>
  
  <ng-template #fomrinfo>

  </ng-template>

</div>


